<app-header></app-header>
<h1>Mes Directives</h1>

<h4>Choisisssez votre couleur</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">  Green
  <input type="radio" name="colors" (click)="color='yellow'">  Yellow
  <input type="radio" name="colors" (click)="color='cyan'">  Cyan
</div>
<p [appHighlight]="color">je m'éclaire !!</p>
<p [appHighlight]="color" defaultColor="violet"> Je m'éclare moi aussi!!!!!!!!!</p>
<app-economie></app-economie>
<app-geographie></app-geographie>
<app-culture></app-culture>
<app-histoire></app-histoire>
<app-politique></app-politique>
