<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
</head>
<body>
 <h2>Compenent header</h2>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul id="nav">
			<li><a href="#" title="aller à la section 1">Politique</a></li>
			<li><a href="#" title="aller à la section 2">Culture</a></li>
			<li><a href="#" title="aller à la section 3">Economie</a></li>
      <li><a href="#" title="aller à la section 4">Histoire</a></li>
			<li><a href="#" title="aller à la section 5">Geographie</a></li>
		</ul>
  </div>  
</nav>
<br>

</body>
</html>


